.postbox{
    width:700px ;
    
    margin-top: 150px;
    margin-left: 400px;
    align-items: center;
}
.posttext{
    height: 70px;
}
.postbtn{
    float: right;
    background-color:  #fff314;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.imgbtn{
    background-color:  #fff314;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
   
}
