.equis{
    font-size: 30px;
    font-weight: 800;
    cursor:pointer;
    margin-left: 10px;

}
.equis:hover{
background-color: #fff314;
border-radius: 20px;
width: 30px;
}
.follower{
    margin-left: 20px;
    font-weight: bold;
    font-size: 22px;
}