.principal-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-top: 100px
}

.myform {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 55, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px;
}
.form-control,
.form-select{
    width: 400px;
}
.sub{
    background-color:  #fff314;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.subpass{
    background-color:  #fff314;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn-profile {
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    background: #fff314;
    border-radius: 5px;
   
}
.btn-profile input[type="file"]{
    
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity= 0);
    opacity: 0;
    outline: none;
    cursor: pointer;
    display: block;
    

   
}