.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #E1E8ED;
    padding-bottom: 10px;
    width: 900px;
    
}
.post_body{
    flex: 1;
    padding: 10px;
    width: 700px;
}



.post_footer{

    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.post_headerDescription{

    margin-bottom: 10px;
    font-size: 15px;
}

.post_headerText >h3{

    font-size: 15px;
    margin-bottom: 5px;
}


.post_headerSpecial{

    font-weight: 600;
    font-size: 12px;
    color: gray;
}

.post_avatar{
    padding: 20px;
}
.postimg{
    width: 600px;
    height: 360px;
    border-radius: 20px;
    margin-left: 60px;
   
    
    
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-left: 05px;
    margin-top: -5px;
}



.likeIcon:active{
    border-radius: 5px;
    transform: scale(0.98);
 
}

.buttonFollow{
    margin-left: 25px;
    background-color: #fff314;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 400;
    width: 105;
    height: 40px;
    border-color: transparent;
    float: right;
    
}

.fa-user-plus{
    padding-bottom: 8px;
    margin-left: 2px;
}

.buttonFollow:active{
    transform: scale(0.98);

}
.postCounter{
    font-size: 18px;
    margin-left: 10px;
   

    
}

.buttonUnfollow{
    margin-left: 25px;
    background-color: #69696949;
    font-size: 1rem;
    border-radius: 8px;
    font-weight: 400;
    width: 105;
    height: 40px;
    border-color: transparent;
    float: right;
}
.fa-user-times{
    padding-bottom: 8px;
    margin-left: 2px;

}
.trash{
    margin-left: 400px;
    float: right;
    background-color: #E1E8ED;
    border-radius: 10px;
    

}

.postBottomLeft{
    padding-left: 55px;
}