.sidebar {
 border-right: 1px solid black;
 margin-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
}


.Home{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;

 
   
}
.Home:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.Space{
margin-left: 15px;

}
.Explore{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.Explore:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
  
}
.Notification{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.Notification:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.Messages{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.Messages:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.Bookmark{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.Bookmark:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.List{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.List:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.Profile{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
}
.Profile:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.More{
  font-size: 20px;
  font-weight: 800;
  align-items: center;
  display: flex;
  cursor: pointer;
  padding-top: 25px;
  
}

.More:hover{
  background-color: #fff314;
  border-radius: 10px;
  width: 160px;
  color: #4d4d00
 
}
.sidebar_postzi {
  background-color: #fff314;
  border: none;
  color:black;
  font-weight: 900; 
  text-transform: inherit ;
  border-radius: 30px ;
  height: 50px;
  margin-top: 20px ;
  width: 160px;
}
.Postzilla_icon{
  margin-left: 20px;
  margin-bottom: 20px;
  size: 30px;

}